<div class="quixnav">
    <div class="quixnav-scroll">
        <ul class="metismenu" id="menu">
            <li class="nav-label first">MAIN MENU</li>
           

            <li class="nav-label">THÔNG TIN CƠ BẢN</li>
            <!-- Start product information + depot -->
            <li>
                <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                    <i class="icon icon-app-store"></i><span class="nav-text">Sản Phẩm</span>
                </a>
                <ul aria-expanded="false">
                    <li>
                        <a class="has-arrow" href="javascript:void()" aria-expanded="false">Thông tin sản phẩm</a>
                        <ul aria-expanded="false">
                            <li><a href="#">Thông tin sản phẩm</a></li>
                            <li><a href="#">Thêm mới sản phẩm</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Phân loại sản phẩm</a></li>
                </ul>
            </li>

            <li>
                <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                    <i class="icon icon-chart-bar-33"></i><span class="nav-text">Kho</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="#">Thông tin kho</a></li>
                </ul>
            </li>
            <!-- End product information + warehouse -->


            <li class="nav-label">QUẢN LÝ NHẬP HÀNG</li>
            <!-- Start Manage Depot in -->
            <li>
                <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                    <i class="icon icon-single-copy-06"></i><span class="nav-text">Quản lý nhập hàng</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="#">Thông tin chi tiết</a></li>
                    <li><a href="#">Thêm thông tin nhập hàng</a></li>
                </ul>
            </li>
            <!-- End Manage Depot in -->

            <li class="nav-label">QUẢN LÝ XUẤT HÀNG</li>
            <!-- Start Manage Depot out-->
            <li>
                <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                    <i class="icon icon-single-copy-06"></i><span class="nav-text">Quản lý xuất hàng</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="#">Thông tin chi tiết</a></li>
                    <li><a href="#">In thông tin xuất hàng</a></li>
                </ul>
            </li>
            <!-- End Manage Depot out -->

            <li class="nav-label">THỐNG KÊ</li>
            <!-- Start statistical-->
            <li>
                <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                    <i class="icon icon-world-2"></i><span class="nav-text">Sản phẩm</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="#">Sản phẩm bán chạy</a></li>
                    <li><a href="#">Sản phẩm mới</a></li>
                </ul>
            </li>

            <li>
                <ul aria-expanded="false">
                    <li><a href="#">Hóa đơn nhập</a></li>
                </ul>
            </li>

            <li>
                <ul aria-expanded="false">
                    <li><a href="#">Hóa đơn xuất</a></li>
                </ul>
            </li>

            <li>
                <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                    <i class="icon icon-world-2"></i><span class="nav-text">Kho</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="#">Thông tin sản phẩm</a></li>
                    <li><a href="#">Lỗi sản phẩm</a></li>
                </ul>
            </li>
            <!-- End statistical -->

        </ul>
    </div>
</div>

<!--


-->
